# Data Science Tools and Ecosystem

In these notebook, Data Science Tools and Ecosystem are summarized.

Some popular languages Data Scientist use are :
1. Python
2. R
3. Scala
4. Julia
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplot
4. Seaborn
5. Sklearn

| Data Science Tools |
----------------------
| Jupyter Notebook |
| Spark |
| Orange |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**
- Popular Data Science Libraries
- Popular Data Science Languages
- Popular Data Science Tools 
- Arithmetic Expressions

## Author
Dhairya Patel